.bbar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 25px;
    opacity: 0;
    transform: translateY(-100%) translateY(20px);
    z-index: 100000;
    overflow-x: hidden;
    text-align: center;
    transition: .5s ease transform, 0.4s ease opacity, 0.5s 0s ease padding-bottom;
}

.bbar.visible {
    transform: translateX(0);
    opacity: 1;
    transition: .5s ease transform, 0.2s ease opacity;
    padding-bottom: 0;
}

.bbar div {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.bbar a {
    display: inline-block;
    border-radius: 10px;
    padding: 14px;
    transition: .1s ease background-color;
}

.bbar img {
    width: 32px;
    height: 32px;
}

.bbar a:hover {
    background-color: #ddd;
}

@media (prefers-color-scheme: dark) {
    .bbar {
        background-color: rgb(34, 34, 34);
    }
    .bbar a:hover {
        background-color: #333;
    }
}