.blist {
    background-color: rgb(255, 255, 255);
}

.blist {
    box-sizing: content-box;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 2147483647;
    overflow-x: hidden;
    text-align: center;
    transition: .5s ease transform, .5s ease height, .5s ease opacity;
    opacity: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-top: none;
    max-width: 780px;
    margin-left: 110px;
    padding: 10px;
    border-radius: 0 0 20px 20px;
}

.blist.hiddenBBB {
    opacity: 0;
    transform: translateY(-100%) translateY(20px);
    padding-bottom: 25px;
    transition: .5s ease transform, .5s ease height, .5s ease opacity, 0s .5s ease padding-bottom;
}
.blist a {
    display: inline-block;
    border-radius: 10px;
    padding: 14px;
    transform: scale(1);
    transition: .1s ease background-color, .5s ease transform;
}

.blist.hiddenBBB a {
    transform: scale(0.5);
}

.blist img {
    width: 32px;
    height: 32px;
}

.blist a:hover {
    background-color: #ddd;
}

@media (prefers-color-scheme: dark) {
    .blist, .blist div {
        background-color: rgb(34, 34, 34);
    }
    .blist {
        border: 1px solid #333;
        border-top: none;
    }
    .blist a:hover {
        background-color: #333;
    }
}