
body {
    margin: 0;
    padding: 0;
}

.blist {
    position: relative;
    margin-top: 32px;
    padding: 5px 0;
    text-align: center;
    z-index: 10;
}

.blist div {
    display: inline-block;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    max-width: 800px;
    transition: .5s ease box-shadow;
}

#background.loaded + .blist div {
    box-shadow: 0 0 3px #ccc;
}

.blist img {
    width: 32px;
    height: 32px;
}

.blist a {
    display: inline-block;
    border-radius: 10px;
    padding: 14px;
    transition: .1s ease background-color;
}

.blist a:hover {
    background-color: #ddd;
}

@media (prefers-color-scheme: dark) {
    html, .blist div {
        background-color: rgb(34, 34, 34);
    }
    #background.loaded + .blist div {
        box-shadow: 0 0 3px #111;
    }
    .blist a:hover {
        background-color: #333;
    }
}

#background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    transition: 2s ease opacity;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#background.loaded {
    opacity: 1;
}