html, .blist {
    background-color: rgb(255, 255, 255);
}

body {
    margin: 0;
    padding: 0;
}

.blist {
    margin: 0;
    padding: 5px 0;
    text-align: center;
}

.blist div {
    margin: 0 auto;
}

.blist img {
    width: 32px;
    height: 32px;
}

.blist a {
    display: inline-block;
    border-radius: 10px;
    padding: 14px;
    transition: .1s ease background-color;
}

.blist a:hover {
    background-color: #ddd;
}

@media (prefers-color-scheme: dark) {
    html, .blist {
        background-color: rgb(34, 34, 34);
    }
    .blist a:hover {
        background-color: #333;
    }
}